<body>
    <navbar class="navbar">
        <div class="nav-logo">
        </div>
        <ul class="nav-links">
            <li class="nav-title"><a href="/"><%= title %></a></li>
            <li><a href="/users/<%= user.id %>">Profile</a></li>
            <li><a href="/user/<%= user.id %>/board/list">Boards</a></li>
            <li><a href="/user/<%= user.id %>/panel/list">Panels</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </navbar>